<?php include('inc/header.php'); ?>


		<div id="guts">
			<div id="blues">

				<h1>About Roots</h1>
				<h2>What is Blues?</h2>
				<div class="text-block">
					<p>Blues is a feeling.</p>
					<p>Blues is an attitude.</p>
					<p>Blues is... what we do.</p>

					<p>Roots of Blues's mission is to help define blues dance
					while fostering an appreciation for blues music and the 
					rich history from which it draws.</p>
				</div>

			</div>
		</div> <!-- close guts -->



<?php include('inc/footer.php'); ?>