<?php include('inc/header.php'); ?>



        <div id="guts">
            <div id="staff">

                <h1 class="">Staff</h1>

                <div class="row clearfix staff-item">
                    <img class="headshot pull-left" src="static/img/ryan-headshot.png"></img>
                    <h3>Ryan Johnson</h3>
                    <h4>Idea Generator</h4>
                    <p>This is the guy who came up for the idea of Roots. You can blame him for everything, generally.</p>
                </div>

                <div class="row clearfix staff-item">
                    <img class="headshot pull-right" src="static/img/sydnie-headshot.jpg"></img>
                    <h3>Sydnie Hendryx</h3>
                    <h4>Aesthetic Director</h4>
                    <p>Wanna know who gives Roots its unique flavor? Look no further. Sydnie uses her artistic expertise to give Roots a special feel.</p>
                </div>

            </div>
        </div> <!-- close guts -->



<?php include('inc/footer.php'); ?>